<mat-grid-list cols="4" rowHeight="60px">
  <mat-grid-tile colspan="4" #header rowspan="2">
    <mat-grid-tile-header id="name">
      <h4 mat-line >{{data.project_name}}</h4>
    </mat-grid-tile-header>
    <mat-grid-tile-footer id="time">
      <p mat-line>计划开工时间：{{data.planned_time| date:'yyyy-MM-dd'}}</p>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile  *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>