.container {
    position: absolute;
    top: 70px;
    bottom: 0px;
    left: 0;
    right: 0;
}
.land-filter{
    margin-left: 300px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }