<button mat-button (click)="showOverloay()" #originBtn>
  土地
  <mat-icon>arrow_drop_down</mat-icon>
</button>

<ng-template #overlayComp>
  <div class="panel">
    <section>
      <span class="subtile">年份</span>
      <mat-checkbox *ngFor="let year of years" [value]="year.value" [(ngModel)]="year.checked" (change)="onChanged()">{{year.text}}</mat-checkbox>
    </section>

    <section>
      <span class="subtile">用地性质</span>
      <mat-checkbox *ngFor="let natural of naturals" [value]="natural.value" [(ngModel)]="natural.checked" (change)="onChanged()">{{natural.text}}</mat-checkbox>
    </section>
    <section>
      <span class="subtile">出售</span>
      <mat-checkbox *ngFor="let status of statuses" [value]="status.value" [(ngModel)]="status.checked" (change)="onChanged()">{{status.text}}</mat-checkbox>
    </section>
  </div>
</ng-template>