// Import theming functions
@import '~@angular/material/theming';
// Import your custom theme
@import 'src/land-theme.scss';
.mat-checkbox-checked {
  color: mat-color($my-app-primary);
  margin-right: 1em;
}

.panel {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
}

app-la-checkbox {
  margin: 10px
}

section {
  display: flex;
  align-items: center;
  margin: 8px;
  font-size: 0.875em;
}
.subtile{
  padding-right: 2em;
}