.mat-grid-tile-header {
    text-align: center;
}

.mat-grid-list {
    font-size: small;
    background-color: gray;
}


@mixin title {
    background-color: #fafafa;
    color: black;
}

#name {
    @include title;
    h4[mat-line] {
        font-weight: bold;
    }
}

#time {
    @include title;
    color: red;
}