<mat-grid-list cols="4" rowHeight="50px">
  <mat-grid-tile colspan="4" #header rowspan="2">
    <mat-grid-tile-header id="name">
      <h4 mat-line >{{data.name}}</h4>
    </mat-grid-tile-header>
    <mat-grid-tile-footer id="time">
      <p mat-line>出让时间：{{data.transfer_time| date:'yyyy-MM-dd'}}</p>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile rowHeight="fit" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" 
  [style.background]="tile.color" [style.color]="tile. fontColor">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>